# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=fOhkzqIZenO6sFC0iWnuhJtU9JwrxPoq0JpCHeww8nE=

# The following keys below are automatically created and
# added to your environment when you deploy on Vercel

# Instructions to create an AI Gateway API key here: https://vercel.com/ai-gateway 
# API key required for non-Vercel deployments
# For Vercel deployments, OIDC tokens are used automatically
# https://vercel.com/ai-gateway
AI_GATEWAY_API_KEY=vck_2Vdx1i4seTKEgN2exf5ETHZB2wl1juRincrUOots0yGGpMi9DN06oWCD


# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a PostgreSQL database here: https://vercel.com/docs/postgres
POSTGRES_URL=postgresql://neondb_owner:npg_fN2HnhAJvw9t@ep-red-mode-a4nehcnz-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require


# Instructions to create a Redis store here:
# https://vercel.com/docs/redis
REDIS_URL=****
